.game-board{
	width: 600px;
	height: 600px;
	margin: 0 auto;
  background-color: #34495e;
  color: #fff;
  border: 6px solid #2c3e50;
  border-radius: 10px;
	display: grid;
	grid-template: repeat(3, 1fr) / repeat(3, 1fr);
}

.box{
  border: 6px solid #2c3e50;
  border-radius: 2px;
  font-family: Helvetica;
  font-weight: bold;
  font-size: 4em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.disabled{
  pointer-events: none;
  cursor: none;
}

#playerTurn{
  margin: 0 auto;
  background-color: rgb(46, 14, 223);
  color: black;
  border: 5px solid rgb(121, 121, 230);
  width: 50vw;
  height: 10vh;
  display: flex;
  align-content: center;
}

img{
  margin: 0 auto;
  display: grid;
}

button{
  margin: 0 auto;
  display: grid;
}

body{
  background-color: black;
}